<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <title>Taskflow</title>
    <link href="/resources/webjars/bootstrap/3.3.7-1/css/bootstrap.css" rel="stylesheet">
    <link href="/static/dashboard.css" rel="stylesheet">
</head>

<body ng-app="dag">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Taskflow</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" ng-controller="SidebarCtrl">
            <ul class="nav nav-sidebar" ng-repeat="menu in menus">
                <li ng-repeat="link in menu" ng-class="activeClass(link.href)"><a href="#{{link.href}}">{{link.title}}</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-view></div>
    </div>
</div>

<script type="text/ng-template" id="/dag-latest.html">
    <h2 class="page-header">DAG</h2>
    <table class="table table-stripped">
        <thead>
        <tr>
            <th>id</th>
            <th>version</th>
            <th>token</th>
            <th>tasks</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="dag in latest">
            <td>{{dag.id}}</td>
            <td>{{dag.version}}</td>
            <td>{{dag.token}}</td>
            <td>{{dag.tasks.length}}</td>
            <td>
                <a href="#dag/id/{{dag.id}}" class="btn btn-xs btn-default">view</a>
                <a href="#dag/update/id/{{dag.id}}" class="btn btn-xs btn-default">edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</script>
<script type="text/ng-template" id="/dag-state.html">
    <h2 class="page-header">DAG {{dag.token}} #{{dag.version}}</h2>

    <div >
        <p>id: {{dag.id}}</p>
        <p>version: {{dag.version}}</p>
        <p>token: {{dag.token}}</p>
        <p>tasks: {{dag.tasks.length}}</p>

        <table class="table table-stripped">
            <thead>
            <tr>
                <th>id</th>
                <th>version</th>
                <th>token</th>
                <th>depends</th>
                <th>operation</th>
                <th>config</th>
                <th>environment</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in dag.tasks">
                <td>{{task.id}}</td>
                <td>{{task.version}}</td>
                <td>{{task.token}}</td>
                <td>
                    <span ng-repeat="token in task.depends">
                        {{token}}
                    </span>
                </td>
                <td>{{task.operation}}</td>
                <td>
                    <span ng-repeat="(key,value) in task.command.config">
                        {{key}}:{{value}}
                    </span>
                </td>
                <td>
                    <span ng-repeat="(key,value) in task.command.environment">
                        {{key}}:{{value}}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</script>
<script type="text/ng-template" id="/dag-create.html">
    <h2 class="page-header">Create DAG</h2>

    <pre>{{dag|json}}</pre>

    <form name="create-dag" ng-submit="createDag()">
        <div class="form-group">
            <label>Token</label>
            <input ng-model="dag.token" class="form-control" placeholder="token">
        </div>

        <div class="panel panel-default" ng-repeat="task in dag.tasks">
            <div class="panel-body">
                <label>task: {{task.token}}</label>
                <div class="form-group">
                    <label>Token</label>
                    <input ng-model="task.token" class="form-control" placeholder="token">
                </div>
                <div class="form-group">
                    <label>Operation</label>
                    <select ng-model="task.operation" class="form-control" ng-options="item for item in operations"></select>
                </div>
                <div class="form-group">
                    <label>Depends on</label>
                    <textarea json-text ng-model="task.depends" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label>Operation Config</label>
                    <textarea json-text ng-model="task.command.config" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label>Operation Environment</label>
                    <textarea json-text ng-model="task.command.environment" class="form-control"></textarea>
                </div>
            </div>
        </div>

        <button ng-click="addTask()" type="button" class="btn btn-default">Add task</button>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</script>
<script type="text/ng-template" id="/dag-update.html">
    <h2 class="page-header">Update DAG {{dag.token}} #{{dag.version}}</h2>

    <pre>{{dag|json}}</pre>

    <form name="create-dag" ng-submit="updateDag()">
        <div class="panel panel-default" ng-repeat="task in dag.tasks">
            <div class="panel-body">
                <label>task: {{task.token}}</label>
                <div class="form-group">
                    <label>Token</label>
                    <input ng-model="task.token" class="form-control" placeholder="token">
                </div>
                <div class="form-group">
                    <label>Operation</label>
                    <select ng-model="task.operation" class="form-control" ng-options="item for item in operations"></select>
                </div>
                <div class="form-group">
                    <label>Depends on</label>
                    <textarea json-text ng-model="task.depends" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label>Operation Config</label>
                    <textarea json-text ng-model="task.command.config" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label>Operation Environment</label>
                    <textarea json-text ng-model="task.command.environment" class="form-control"></textarea>
                </div>
            </div>
        </div>

        <button ng-click="addTask()" type="button" class="btn btn-default">Add task</button>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</script>


<script type="text/ng-template" id="/dag-run.html">
    <h2 class="page-header">DAG run</h2>

    <table class="table table-stripped">
        <thead>
        <tr>
            <th>id</th>
            <th>dagId</th>
            <th>created</th>
            <th>start</th>
            <th>finish</th>
            <th>status</th>
            <th>tasks</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="run in runs">
            <td>{{run.id}}</td>
            <td>{{run.dagId}}</td>
            <td>{{run.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{run.startDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{run.finishDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{run.status}}</td>
            <td>{{run.tasks.length}}</td>
        </tr>
        </tbody>
    </table>
</script>
<script type="text/ng-template" id="/dag-run-pending.html">
    <h2 class="page-header">DAG run pending</h2>

    <table class="table table-stripped">
        <thead>
        <tr>
            <th>id</th>
            <th>dagId</th>
            <th>created</th>
            <th>start</th>
            <th>finish</th>
            <th>status</th>
            <th>tasks</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="run in runs">
            <td>{{run.id}}</td>
            <td>{{run.dagId}}</td>
            <td>{{run.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{run.startDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{run.finishDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{run.status}}</td>
            <td>{{run.tasks.length}}</td>
        </tr>
        </tbody>
    </table>
</script>
<script type="text/ng-template" id="/dag-run-state.html">
    <h2 class="page-header">DAG run state</h2>

    <p>id: {{dag_run.id}}</p>
    <p>dag_id: {{dag_run.dagId}}</p>
    <p>created: {{dag_run.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}</p>
    <p>start: {{dag_run.startDate | date:'yyyy-MM-dd HH:mm:ss'}}</p>
    <p>finish: {{dag_run.finishDate | date:'yyyy-MM-dd HH:mm:ss'}}</p>
    <p>status: {{dag_run.status}}</p>
    <p>tasks:{{dag_run.tasks.length}}</p>

    <table class="table table-stripped">
        <thead>
        <tr>
            <th>id</th>
            <th>dagId</th>
            <th>dagRunId</th>
            <th>created</th>
            <th>start</th>
            <th>finish</th>
            <th>status</th>
            <th>op status</th>
            <th>op stdout</th>
            <th>op stderr</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="run in dag_run.tasks">
            <td>{{run.id}}</td>
            <td>{{run.dagId}}</td>
            <td>{{run.dagRunId}}</td>
            <td>{{run.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{run.startDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{run.finishDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{run.status}}</td>
            <td>{{run.operationResult.status}}</td>
            <td>{{run.operationResult.stdout}}</td>
            <td>{{run.operationResult.stderr}}</td>
        </tr>
        </tbody>
    </table>
</script>

<script src="/resources/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/resources/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<script src="/resources/webjars/angularjs/1.6.1/angular.min.js"></script>
<script src="/resources/webjars/angularjs/1.6.1/angular-route.min.js"></script>
<script src="/static/dashboard.js"></script>
</body>
</html>
