<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">

    <title>Taskflow</title>
    <link href="/resources/webjars/bootstrap/3.3.7-1/css/bootstrap.css" rel="stylesheet">
    <link href="/static/dashboard.css" rel="stylesheet">
</head>

<body ng-app="dag">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
                <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Taskflow</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" ng-controller="SidebarCtrl">
            <ul class="nav nav-sidebar" ng-repeat="menu in menus">
                <li ng-repeat="link in menu" ng-class="activeClass(link.href)">
                    <a href="#{{link.href}}">{{link.title}}</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-view></div>
    </div>
</div>

<script type="text/ng-template" id="/dag-latest.html">
    <h2 class="page-header">DAG</h2>
    <table class="table table-stripped">
        <thead>
        <tr>
            <th>id</th>
            <th>version</th>
            <th>token</th>
            <th>tasks</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="dag in latest">
            <td>{{dag.id}}</td>
            <td>{{dag.version}}</td>
            <td>{{dag.token}}</td>
            <td>{{dag.tasks.length}}</td>
            <td>
                <a href="#dag/id/{{dag.id}}" class="btn btn-xs btn-default">view</a>
                <a href="#dag/update/id/{{dag.id}}" class="btn btn-xs btn-default">edit</a>
                <button class="btn btn-xs btn-primary" ng-controller="CreateDagRunCtrl" ng-click="createDagRunById(dag.id)">
                    run
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</script>
<script type="text/ng-template" id="/dag-state.html">
    <h2 class="page-header">DAG {{dag.token}} #{{dag.version}}</h2>

    <p>
        <a href="#dag/update/id/{{dag.id}}" class="btn btn-default">edit</a>
        <button class="btn btn-primary" ng-controller="CreateDagRunCtrl" ng-click="createDagRunById(dag.id)">
            run
        </button>
    </p>

    <div>
        <p>id: {{dag.id}}</p>
        <p>version: {{dag.version}}</p>
        <p>token: {{dag.token}}</p>
        <p>tasks: {{dag.tasks.length}}</p>

        <table class="table table-stripped">
            <thead>
            <tr>
                <th>id</th>
                <th>version</th>
                <th>token</th>
                <th>depends</th>
                <th>operation</th>
                <th>config</th>
                <th>environment</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="task in dag.tasks">
                <td>{{task.id}}</td>
                <td>{{task.version}}</td>
                <td>{{task.token}}</td>
                <td>
                    <span ng-repeat="token in task.depends">
                        {{token}}
                    </span>
                </td>
                <td>{{task.operation}}</td>
                <td>
                    <span ng-repeat="(key,value) in task.command.config">
                        {{key}}:{{value}}
                    </span>
                </td>
                <td>
                    <span ng-repeat="(key,value) in task.command.environment">
                        {{key}}:{{value}}
                    </span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</script>
<script type="text/ng-template" id="/dag-create.html">
    <h2 class="page-header">Create DAG</h2>

    <pre>{{dag}}</pre>
    <pre>{{errors}}</pre>

    <form name="dagForm" novalidate ng-submit="dagForm.$valid && createDag()">
        <div class="form-group" ng-class="{'has-error':errors.token}">
            <label class="control-label">Token</label>
            <input ng-model="dag.token" name="token" class="form-control" placeholder="token">
            <span class="help-block" ng-show="errors.token">{{errors.token}}</span>
        </div>

        <div class="form-group" ng-class="{'has-error':errors.tasks_list}">
            <h4>Tasks</h4>
            <span class="help-block" ng-show="errors.tasks_list">{{errors.tasks_list}}</span>
        </div>

        <div class="panel panel-default" ng-repeat="task in dag.tasks" ng-form="taskForm">
            <div class="panel-body">
                <label class="control-label">task: {{task.token}}</label>
                <div class="form-group" ng-class="{'has-error':errors.tasks[$index].token}">
                    <label class="control-label">Token</label>
                    <input ng-model="task.token" name="token" required class="form-control" placeholder="token">
                    <span class="help-block" ng-show="errors.tasks[$index].token">{{errors.tasks[$index].token}}</span>
                </div>
                <div class="form-group" ng-class="{'has-error':errors.tasks[$index].depends}">
                    <label class="control-label">Depends</label>
                    <textarea json-text depends ng-model="task.depends" name="depends" required class="form-control"></textarea>
                    <span class="help-block" ng-show="errors.tasks[$index].depends">{{errors.tasks[$index].depends}}</span>
                </div>
                <div class="form-group" ng-class="{'has-error':errors.tasks[$index].operation}">
                    <label class="control-label">Operation</label>
                    <select ng-model="task.operation" name="operation" required class="form-control" ng-options="item for item in operations"></select>
                    <span class="help-block" ng-show="errors.tasks[$index].operation">{{errors.tasks[$index].operation}}</span>
                </div>
                <div class="form-group" ng-show="operationsMap[task.operation]">
                    <label>Config reference</label>
                    <pre>{{operationsMap[task.operation].reference|json}}</pre>
                </div>
                <div class="form-group" ng-class="{'has-error':errors.tasks[$index].command.config}">
                    <label class="control-label">Operation Config</label>
                    <textarea json-text ng-model="task.command.config" class="form-control"></textarea>
                    <span class="help-block" ng-show="errors.tasks[$index].command.config">{{errors.tasks[$index].command.config}}</span>
                </div>
                <div class="form-group" ng-class="{'has-error':errors.tasks[$index].command.environment}">
                    <label class="control-label">Operation Environment</label>
                    <textarea json-text ng-model="task.command.environment" class="form-control"></textarea>
                    <span class="help-block" ng-show="errors.tasks[$index].command.environment">{{errors.tasks[$index].command.environment}}</span>
                </div>
            </div>
        </div>

        <button ng-click="addTask()" type="button" class="btn btn-default">Add task</button>
        <button ng-click="validateDag()" type="button" class="btn btn-default">Validate</button>

        <button type="submit" class="btn btn-primary" ng-disabled="dagForm.$invalid">Submit</button>
    </form>
</script>
<script type="text/ng-template" id="/dag-update.html">
    <h2 class="page-header">Update DAG {{dag.token}} #{{dag.version}}</h2>

    <pre>{{dag|json}}</pre>

    <form name="create-dag" ng-submit="updateDag()">
        <div class="form-group" ng-class="{'has-error':errors.tasks_list}">
            <h4>Tasks</h4>
            <span class="help-block" ng-show="errors.tasks_list">{{errors.tasks_list}}</span>
        </div>

        <div class="panel panel-default" ng-repeat="task in dag.tasks" ng-form="taskForm">
            <div class="panel-body">
                <label class="control-label">task: {{task.token}}</label>
                <div class="form-group" ng-class="{'has-error':errors.tasks[$index].token}">
                    <label class="control-label">Token</label>
                    <input ng-model="task.token" name="token" required class="form-control" placeholder="token">
                    <span class="help-block" ng-show="errors.tasks[$index].token">{{errors.tasks[$index].token}}</span>
                </div>
                <div class="form-group" ng-class="{'has-error':errors.tasks[$index].depends}">
                    <label class="control-label">Depends</label>
                    <textarea json-text depends ng-model="task.depends" name="depends" required class="form-control"></textarea>
                    <span class="help-block" ng-show="errors.tasks[$index].depends">{{errors.tasks[$index].depends}}</span>
                </div>
                <div class="form-group" ng-class="{'has-error':errors.tasks[$index].operation}">
                    <label class="control-label">Operation</label>
                    <select ng-model="task.operation" name="operation" required class="form-control" ng-options="item for item in operations"></select>
                    <span class="help-block" ng-show="errors.tasks[$index].operation">{{errors.tasks[$index].operation}}</span>
                </div>
                <div class="form-group" ng-show="operationsMap[task.operation]">
                    <label>Config reference</label>
                    <pre>{{operationsMap[task.operation].reference|json}}</pre>
                </div>
                <div class="form-group" ng-class="{'has-error':errors.tasks[$index].command.config}">
                    <label class="control-label">Operation Config</label>
                    <textarea json-text ng-model="task.command.config" class="form-control"></textarea>
                    <span class="help-block" ng-show="errors.tasks[$index].command.config">{{errors.tasks[$index].command.config}}</span>
                </div>
                <div class="form-group" ng-class="{'has-error':errors.tasks[$index].command.environment}">
                    <label class="control-label">Operation Environment</label>
                    <textarea json-text ng-model="task.command.environment" class="form-control"></textarea>
                    <span class="help-block" ng-show="errors.tasks[$index].command.environment">{{errors.tasks[$index].command.environment}}</span>
                </div>
            </div>
        </div>

        <button ng-click="addTask()" type="button" class="btn btn-default">Add task</button>
        <button ng-click="validateDag()" type="button" class="btn btn-default">Validate</button>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</script>

<script type="text/ng-template" id="/dag-run.html">
    <h2 class="page-header">DAG run</h2>

    <table class="table table-stripped">
        <thead>
        <tr>
            <th>id</th>
            <th>dagId</th>
            <th>created</th>
            <th>start</th>
            <th>finish</th>
            <th>status</th>
            <th>tasks</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="run in runs">
            <td>{{run.id}}</td>
            <td>{{run.dagId}}</td>
            <td>{{run.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{run.startDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{run.finishDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{run.status}}</td>
            <td>{{run.tasks.length}}</td>
            <td>
                <a href="#dag/run/id/{{run.id}}" class="btn btn-xs btn-default">view</a>
            </td>
        </tr>
        </tbody>
    </table>
</script>
<script type="text/ng-template" id="/dag-run-pending.html">
    <h2 class="page-header">DAG run pending</h2>

    <table class="table table-stripped">
        <thead>
        <tr>
            <th>id</th>
            <th>dagId</th>
            <th>created</th>
            <th>start</th>
            <th>finish</th>
            <th>status</th>
            <th>tasks</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="run in runs">
            <td>{{run.id}}</td>
            <td>{{run.dagId}}</td>
            <td>{{run.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{run.startDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{run.finishDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{run.status}}</td>
            <td>{{run.tasks.length}}</td>
            <td>
                <a href="#dag/run/id/{{run.id}}" class="btn btn-xs btn-default">view</a>
            </td>
        </tr>
        </tbody>
    </table>
</script>
<script type="text/ng-template" id="/dag-run-state.html">
    <h2 class="page-header">DAG run state</h2>

    <p ng-show="cancelable">
        <button ng-click="cancelDagRun()" type="button" class="btn btn-danger">Cancel</button>
    </p>

    <p>id: {{dag_run.id}}</p>

    <p>dag_id: {{dag_run.dagId}}</p>

    <p>created: {{dag_run.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}</p>

    <p>start: {{dag_run.startDate | date:'yyyy-MM-dd HH:mm:ss'}}</p>

    <p>finish: {{dag_run.finishDate | date:'yyyy-MM-dd HH:mm:ss'}}</p>

    <p>status: {{dag_run.status}}</p>

    <p>tasks:{{dag_run.tasks.length}}</p>

    <table class="table table-stripped">
        <thead>
        <tr>
            <th>id</th>
            <th>dagId</th>
            <th>dagRunId</th>
            <th>created</th>
            <th>start</th>
            <th>finish</th>
            <th>status</th>
            <th>op status</th>
            <th>op stdout</th>
            <th>op stderr</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="run in dag_run.tasks">
            <td>{{run.id}}</td>
            <td>{{run.dagId}}</td>
            <td>{{run.dagRunId}}</td>
            <td>{{run.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{run.startDate | date:'yyyy-MM-dd HH:mm:ss sss'}}</td>
            <td>{{run.finishDate | date:'yyyy-MM-dd HH:mm:ss sss'}}</td>
            <td>{{run.status}}</td>
            <td>{{run.operationResult.status}}</td>
            <td>
                <pre ng-show="run.operationResult.stdout">{{run.operationResult.stdout}}</pre>
            </td>
            <td>
                <pre ng-show="run.operationResult.stderr">{{run.operationResult.stderr}}</pre>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="gantt" diagram-gantt="dag_run"></div>
</script>

<script type="text/ng-template" id="/operations.html">
    <h2 class="page-header">Operations</h2>

    <div ng-repeat="operation in operations">
        <h3>{{operation.id}}</h3>

        <label>Config reference:</label>
        <pre>{{operation.reference|json}}</pre>
    </div>
</script>

<script src="/resources/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/resources/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<script src="/resources/webjars/d3js/4.2.1/d3.min.js"></script>
<script src="/resources/webjars/angularjs/1.6.1/angular.min.js"></script>
<script src="/resources/webjars/angularjs/1.6.1/angular-route.min.js"></script>
<script src="/static/dashboard.js"></script>
</body>
</html>
